<!DOCTYPE HTML>
<html ng-app="familyFeudApp">

    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="familyfeud.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="familyfeud-gameboard.js"></script>
    </head>
    
    <body ng-controller="FamilyFeudGameboardController" ng-init="loadGames()">
        
        <image id="logo" src="logo.png"></image>
        
        <div class="gameboard">
            <div class="question">{{surveyQuestion}}</div>
            <div ng-repeat="surveyAnswer in surveyAnswers"
             id="survey-answer" ng-class="getClass(surveyAnswer)" ng-click="reveal(surveyAnswer)">
                <span>{{surveyAnswer.display()}}</span>
            </div>
            
            <form ng-submit="checkAnswer()">
                <input type="text" class="answer" ng-model="answerSubmitted"/>
            </form>
        </div>
        
        <span class="game-controls" ng-click="loadNextRound()">next round &#9654;</span>
        
    </body>

</html>
