
body {
    background-color: #336699;
    font-family: 'Roboto', sans-serif;
    background: url(familyfeud-set.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
}

.game-controls {
    background-color: black;
    border-radius: 0.25em;
    font-size: 1.5em;
    padding: 0.5em;
    color: #FF9900;
    cursor: pointer;
    box-shadow: 0 0.05em 0.05em #FF9900;
}

.gameboard {
    width: 70%;
    margin-left: 25%;
    padding: 0.01em;
}

.question {
    font-size: 3em;
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px #000000;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.survey-answer {
    background-color: #FF9900;
    border-radius: 0.15em;
    cursor: pointer;
    border-style: none;
    box-shadow: 0 0.08em 0.1em #C13100;
    text-align: center;
    font-size: 3em;
    padding: 0.1em;
    margin-bottom: 0.25em;
    text-shadow: 2px 2px #ffffff;
    -webkit-transition: -webkit-transform 700ms;
    transition: transform 700ms;
}

.survey-answer-shown {
    background-color: #000000;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

.answer {
    background-color: #000000;
    border-radius: 0.15em;
    border-style: none;
    text-align: center;
    font-size: 3em;
    color: #ffffff;
    width: 100%;
    box-shadow: 0 0.08em 0.1em #C13100;
}
