
body {
    background-color: #336699;
    font-family: 'Roboto', sans-serif;
    background: url(familyfeud-set.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.question {
    font-size: 3em;
    text-align: center;
    color: #4FD5D6;
    text-shadow: 5px 5px #000000;
    padding: 0.5em;
}

.gameboard {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 0.01em;
}

.survey-answer {
    background-color: #FF9900;
    border-style: solid;
    border-color: #C13100;
    text-align: center;
    font-size: 3em;
    margin: 0.1em;
    text-shadow: 2px 2px #ffffff;
    -webkit-transition: -webkit-transform 700ms;
    transition: transform 700ms;
}

.survey-answer-shown {
    background-color: #000000;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

.answer-section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.answer {
    background-color: #000000;
    border-style: solid;
    border-color: #C13100;
    text-align: center;
    font-size: 3em;
    color: #ffffff;
    width: 100%;
}
